:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030c;
    --fonte-principal: 'Inter', sans-serif;
    --botao-azul-efeito: #3c92fa;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* SEÇÕES GERAIS E CONTAINERS */
.hero {
    background-image: url("assets/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    gap: 2em;
    padding: 0 6em;
}

.hero__content {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

/* BOTÕES */
.btn {
    display: block;
    text-decoration: none;
    color: var(--branco-principal);
    border-radius: 5px;
    padding: 1em;
    text-align: center;
    border: 1px solid transparent;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn--primary {
    background-color: var(--botao-azul);
    border-color: var(--botao-azul);
}

.btn--primary:hover {
    background-color: var(--botao-azul-efeito);
    color: var(--cor-de-fundo);
}

.btn--secondary {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.btn.small {
    display: inline-block;
    padding: 1em;
    margin-top: 1em;
}

/* TEXTOS */
.hero__title {
    font-size: 28px;
    font-weight: 700;
}

.hero__note {
    font-size: 12px;
    color: var(--cinza-secundario);
}

.section__title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 0.2em;
}

.section__text {
    color: var(--cinza-secundario);
}

/* IMAGENS */
.hero__image {
    margin: 1em 0 2em 0;
}

.section__image {
    width: 80%;
}

/* SEÇÕES ESPECÍFICAS */
.section {
    padding: 0 6em;
}

.section.reverse {
    flex-direction: row-reverse;
}

.section__content {
    padding: 2em;
}

/* DISPOSITIVOS */
.devices {
    text-align: center;
    padding: 5em 0;
}

.devices__title {
    font-size: 48px;
    font-weight: 700;
}

.devices__list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 5em;
    gap: 4em;
}

.devices__list h3 {
    font-size: 32px;
    font-weight: 700;
}

/* RODAPÉ */
.footer {
    text-align: center;
    padding: 6em 4em 2em 4em;
}

.footer__logo {
    margin-bottom: 2em;
}

.footer__links {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 1.5em;
    margin-bottom: 2em;
    flex-wrap: wrap;
}

.footer__links a {
    text-decoration: none;
    color: var(--branco-principal);
    font-size: 16px;
}

.footer__links a:hover {
    color: var(--botao-azul);
}

.footer__text {
    margin-bottom: 2em;
    font-size: 14px;
    color: var(--cinza-secundario);
}

/* RESPONSIVIDADE */
@media (max-width: 768px) {
    .container {
        display: block;
        height: auto;
        padding: 2em;
    }

    .hero {
        background-image: none;
    }

    .hero__image {
        width: 100%;
    }

    .section__image {
        width: 100%;
        margin: 2em 0;
    }

    .devices__list {
        flex-direction: column;
    }
}
