:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --botao-azul-efeito: #3c92fa;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'Inter', sans-serif;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
}

/* SEÇÃO PRINCIPAL */
.principal {
    background-image: url("./assets/Background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll; /* IMPORTANTE para funcionar no celular */

    text-align: center;
    padding: 6em 2em;
}

.container {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    min-height: 100vh;
}

/* BLOCO DE CONTEÚDO */
.container__caixa {
    margin: 0 6em;
}

.container__titulo {
    font-size: 2rem;
    font-weight: 700;
}

.container__imagem {
    width: 100%;
    max-width: 380px;
    margin: 1.5em 0 2.3em 0;
}

.container__aviso {
    font-size: 0.8rem;
    color: var(--cinza-secundario);
}

/* BOTÕES */
.container__botao {
    display: block;
    padding: 1em;
    margin-bottom: 1em;

    color: var(--branco-principal);
    background-color: var(--botao-azul);
    border-radius: 5px;

    text-decoration: none;
    transition: 0.3s ease;
}

.container__botao:hover {
    background-color: var(--botao-azul-efeito);
    color: var(--cor-de-fundo);
}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

/* SEÇÃO SECUNDÁRIA */
.secundario {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3em;
    padding: 5em 6em;
}

.secundario__imagem {
    width: 80%;
    max-width: 500px;
}

